// color variables
$jump-background:#ECECEC;
$jump-button-item-background:#F3CD78;
$jump-title-background:#EEE;
$jump-title-color:#696969;
$admin-background-color:#f2f2f2;
$admin-title-color:#373c54;
$admin-button-edit-color:#f5d478;
$admin-button-delete-color:#d14f38;
$admin-sheet-font-color:#5c5c5c;
$admin-popup-background:#edf2f7;
// typography variables
$admin-fontsize-navbar-title:35px;
$admin-fontsize-navbar-option:24px;